@import "./func.scss";
body {
  line-height: 1.85;
}

header {
  $navColor: rgb(198, 240, 240);
  .navbar-dark .navbar-nav .nav-link {
    font-size: 1.05rem;
    color: rgb(203, 205, 207);
    &.active-nav-link {
      position: relative;
      color: $navColor;

      &::after {
        @include headerNavAfter($navColor);
      }
    }
  }
}

.post-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }

  h1 {
    position: relative;
    font-size: 1.9rem;
    padding: 0.5rem 0 0.5rem 1rem;
    margin: 1rem 0 2.5rem;
    border-bottom: 2px solid rgb(149, 158, 179);

    &::before {
      position: absolute;
      content: '';
      bottom: -2px;
      left: 0px;
      width: 60%;
      height: 2px;
      background-color: #1192e7;
    }
  }

  h2 {
    position: relative;
    font-size: 1.6rem;
    padding: 0.5rem 0 0.5rem 0.5rem;
    margin: 1.7rem 0 2rem;
    border-bottom: 1px solid rgb(149, 158, 179);

    &::before {
      position: absolute;
      content: '';
      bottom: -1px;
      left: 0px;
      width: 30%;
      height: 1px;
      background-color: #1192e7;
    }
  }

  h3 {
    font-size: 1.4rem;
    padding: 0.3rem 0 0.3rem 0.5rem;
    margin: 1.5rem 0 1.7rem;
    border-left: 3px solid #1192e7;
  }

  h4 {
    font-size: 1.2rem;
    padding: 0.3rem 0 0.3rem 0.5rem;
    margin: 1.5rem 0 1.7rem;
    border-left: 2px solid rgb(149, 158, 179);
  }

  h5 {
    font-size: 1.1rem;
  }

  h6 {
    font-size: 1rem;
  }

  p {
    margin: 1rem 0 1.5rem;

    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }

  :not(pre) > code {
    vertical-align: middle;
    color: rgb(233, 69, 118);
    padding: 0.1rem 0.4rem;
    border-radius: 3px;
    background-color: rgb(236, 235, 235);
    margin: 0 0.2rem;
  }

  pre {
    border-radius: 10px;
    margin: 1rem 0 1.5rem !important;
    code {
      font-size: 0.95rem !important;
    }
  }

  code {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', Noto Sans JP,
      monospace;
  }

  blockquote {
    background-color: #e8ecee;
    padding: 1rem;
    border-left: 5px solid #1192e7;
    border-radius: 5px;

    p {
      margin: 0;
    }
  }

  table {
    overflow-x: auto;
    border-collapse: collapse;
    margin-bottom: 1.2rem;

    th {
      background-color: #e8ecee;
    }

    th,
    td {
      padding: 0.3rem 1rem;
      border: 1px solid #b2b5b6;
    }
  }

  /* Prism.js */
  .code-toolbar > .toolbar {
    padding: 0.6rem 0.85rem;

    .toolbar-item > button {
      color: #e8ecee;
      padding: 0.2rem 0.5rem;
      background-color: inherit;
      box-shadow: none;

      $w-icon: 1.45rem;
      img[src$='.svg'] {
        color: #cccccc;
        width: $w-icon;
        height: $w-icon;
      }
    }
  }

  div.code-toolbar > .toolbar {
    &:has(.toolbar-item > .prism-copy-success) {
      opacity: 1 !important;
    }
  }
}
