@import './prisma-variables.scss';

pre.language-html > code.language-html,
pre.language-markup > code.language-markup {
  .tag {
    color: $keyword;
  }

  .attr-name {
    color: $var;
  }

  .attr-value {
    color: $string;
  }

  .string-punctuation {
    color: $string;
  }

  .comment {
    color: $comment;
  }

  .component-tag {
    color: $class;
  }
}
