@import './prisma-variables.scss';

pre.language-cs > code.language-cs {
  color: $var;
  .property {
    color: $var;
  }

  .generic,
  .class-name,
  .namespace {
    color: $class;
  }

  .keyword {
    color: $keyword;
  }

  .special-keyword {
    color: $specialKeyword;
  }

  .operator {
    color: $text;
  }

  .function {
    color: $function;
  }

  .boolean {
    color: $keyword;
  }

  .number {
    color: $number;
  }

  .string {
    color: $string;
  }

  .comment {
    color: $comment;
  }
}
