@import './prisma-variables.scss';

pre.language-dockerfile > code.language-dockerfile {
  .instruction {
    color: $var;
  }

  .keyword {
    color: $specialKeyword;
  }

  .property {
    color: $class;
  }

  .string {
    color: $string;
  }

  .comment {
    color: $comment;
  }
}
