@import './prisma-variables.scss';

pre.language-js > code.language-js,
pre.language-ts > code.language-ts,
pre.language-javascript > code.language-javascript,
pre.language-typescript > code.language-typescript,
pre.language-html > code.language-html span.language-js,
pre.language-html > code.language-html span.language-ts,
pre.language-html > code.language-html span.language-javascript,
pre.language-html > code.language-html span.language-typescript {
  display: block;
  color: $var;

  .token {
    color: #fff;
  }

  .builtin {
    color: $class;
  }

  .class-name {
    color: $class;
  }

  .interpolation {
    color: #9fe3fc;
  }

  .operator {
    color: #fff;
  }

  .punctuation {
    color: #dbdbce;
  }

  .keyword {
    color: $keyword;
  }

  .special-keyword {
    color: $specialKeyword;
  }

  .comment {
    color: $comment;
  }

  .function {
    color: $function;
  }

  .string {
    color: $string;
  }

  .literal-property {
    color: #8cdefc;
  }

  .number {
    color: $number;
  }
}
